{% extends 'base.html.twig' %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Création de people
            </h1>
        </div>
    </div>

    <ul>
        <li>
            <a href="{{ path('people_index') }}">Back to the list</a>
        </li>
    </ul>

    <div class="row">
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <input type="submit" value="Create" />
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}
